node-red/flows.json
[{"id":"5a95460d.cad248","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1d9f3e2.82a4e","type":"http in","z":"5a95460d.cad248","name":"","url":"/read_card","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["342f93da.70907c"]]},{"id":"69246c55.4b2854","type":"http response","z":"5a95460d.cad248","name":"","statusCode":"200","headers":{},"x":480,"y":220,"wires":[]},{"id":"342f93da.70907c","type":"function","z":"5a95460d.cad248","name":"Storage","func":"var value = flow.get('ID') || -1;\n\nmsg.payload = {'ID' : value};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":260,"wires":[["69246c55.4b2854","68bfe46b.ffaaec"]]},{"id":"68bfe46b.ffaaec","type":"debug","z":"5a95460d.cad248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":288,"wires":[]},{"id":"22cf9c6e.41e174","type":"http in","z":"5a95460d.cad248","name":"","url":"/write_card","method":"post","upload":true,"swaggerDoc":"","x":120,"y":89,"wires":[["e61e30e2.f085b"]]},{"id":"e7d07897.556928","type":"function","z":"5a95460d.cad248","name":"Storage","func":"flow.set('ID', msg.payload.ID)\n\nmsg.payload = flow.get('ID');\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":89,"wires":[["81799f7b.ee04e","a95ecfdd.6f213"]]},{"id":"81799f7b.ee04e","type":"http response","z":"5a95460d.cad248","name":"","statusCode":"200","headers":{},"x":670,"y":49,"wires":[]},{"id":"a95ecfdd.6f213","type":"debug","z":"5a95460d.cad248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":117,"wires":[]},{"id":"e61e30e2.f085b","type":"json","z":"5a95460d.cad248","name":"","property":"payload","action":"obj","pretty":true,"x":310,"y":89,"wires":[["e7d07897.556928"]]},{"id":"93844877.5885c8","type":"http in","z":"5a95460d.cad248","name":"","url":"/push_data","method":"post","upload":true,"swaggerDoc":"","x":120,"y":440,"wires":[["c6e45a2e.ac4e58"]]},{"id":"c6e45a2e.ac4e58","type":"json","z":"5a95460d.cad248","name":"","property":"payload","action":"obj","pretty":true,"x":290,"y":440,"wires":[["9ac9877b.d4c598","199a11e7.3310ae"]]},{"id":"9ac9877b.d4c598","type":"debug","z":"5a95460d.cad248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":520,"wires":[]},{"id":"5e025dcd.debf64","type":"http response","z":"5a95460d.cad248","name":"","statusCode":"200","headers":{},"x":640,"y":360,"wires":[]},{"id":"199a11e7.3310ae","type":"function","z":"5a95460d.cad248","name":"Storage","func":"flow.set('Name', msg.payload[0].Name)\nflow.set('Range_lower', msg.payload[0].Range_lower)\nflow.set('Range_upper', msg.payload[0].Range_upper)\n\nvar value = flow.get(['ID', 'Name', 'Range_lower', 'Range_upper'])\n\nmsg.payload = {'ID': value[0], 'Name': value[1], 'Range_lower': value[2], 'Range_upper': value[3]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["de3852f0.02cbe","5e025dcd.debf64"]]},{"id":"de3852f0.02cbe","type":"debug","z":"5a95460d.cad248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":520,"wires":[]},{"id":"1101d87c.89dc68","type":"http in","z":"5a95460d.cad248","name":"","url":"/read_data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":680,"wires":[["97a9ec00.c2cb1"]]},{"id":"97a9ec00.c2cb1","type":"function","z":"5a95460d.cad248","name":"Storage","func":"var value = flow.get(['ID', 'Name', 'Range_lower', 'Range_upper'])\n\nmsg.payload = {'ID': value[0], 'Name': value[1], 'Range_lower': value[2], 'Range_upper': value[3]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":680,"wires":[["9ec8f00a.90cfe","df9fe055.daf24"]]},{"id":"df9fe055.daf24","type":"debug","z":"5a95460d.cad248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":760,"wires":[]},{"id":"9ec8f00a.90cfe","type":"http response","z":"5a95460d.cad248","name":"","statusCode":"200","headers":{},"x":440,"y":600,"wires":[]}]